body {
    background-color: #EAF6F6;
}
h1{
color:#66BFBF;
}
h3{
    color: #66BFBF;
}
hr {
    background-color: blue;
    border-style:none;
    border-top-style:dashed;
    height: 2px;
    width:;
}